<a href="https://colab.research.google.com/github/God-OfTruth/God-OfTruth/blob/master/testing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas

In [4]:
df1=pandas.read_csv("/supermarkets.csv")
df1

   ID          Address           City  ... Country         Name Employees
0   1     3666 21st St  San Francisco  ...     USA      Madeira         8
1   2   735 Dolores St  San Francisco  ...     USA  Bready Shop        15
2   3      332 Hill St  San Francisco  ...     USA  Super River        25
3   4     3995 23rd St  San Francisco  ...     USA   Ben's Shop        10
4   5  1056 Sanchez St  San Francisco  ...     USA      Sanchez        12
5   6  551 Alvarado St  San Francisco  ...     USA   Richvalley        20

[6 rows x 7 columns]

In [ ]:
from bs4 import BeautifulSoup
import requests

r=requests.get("https://en.wikipedia.org/wiki/india")
print(r.content)

# New Section

In [ ]:
import pandas
df2=pandas.read_excel("/supermarkets.xlsx",sheet_name=0)
df1

In [16]:
df3=pandas.read_csv("/supermarkets-semi-colons.txt",sep=";")
df3

   ID          Address           City  ... Country          Name Employees
0   1     3666 21st St  San Francisco  ...     USA       Madeira         8
1   2   735 Dolores St  San Francisco  ...     USA   Bready Shop        15
2   3      332 Hill St  San Francisco  ...     USA   Super River        25
3   4     3995 23rd St  San Francisco  ...     USA    Ben's Shop        10
4   5  1056 Sanchez St  San Francisco  ...     USA       Sanchez        12
5   6  551 Alvarado St  San Francisco  ...     USA    Richvalley        20

[6 rows x 7 columns]

In [17]:
import geopy
dir(geopy)

['ArcGIS',
 'AzureMaps',
 'Baidu',
 'Bing',
 'DataBC',
 'GeoNames',
 'GeocodeEarth',
 'GeocodeFarm',
 'GoogleV3',
 'Here',
 'IGNFrance',
 'LiveAddress',
 'Location',
 'MapBox',
 'Nominatim',
 'OpenCage',
 'OpenMapQuest',
 'Pelias',
 'Photon',
 'PickPoint',
 'Point',
 'TomTom',
 'What3Words',
 'Yandex',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 'compat',
 'exc',
 'format',
 'geocoders',
 'get_geocoder_for_service',
 'location',
 'point',
 'units',
 'util']

In [18]:
from geopy.geocoders import ArcGIS

In [19]:
nom=ArcGIS()

In [22]:
n=nom.geocode("735 Dolores St,	San Francisco,	CA, 94119,	USA")

In [23]:
type(n)

geopy.location.Location

In [24]:
df=pandas.read_csv("/supermarkets.csv")

In [25]:
df

   ID          Address           City  ... Country         Name Employees
0   1     3666 21st St  San Francisco  ...     USA      Madeira         8
1   2   735 Dolores St  San Francisco  ...     USA  Bready Shop        15
2   3      332 Hill St  San Francisco  ...     USA  Super River        25
3   4     3995 23rd St  San Francisco  ...     USA   Ben's Shop        10
4   5  1056 Sanchez St  San Francisco  ...     USA      Sanchez        12
5   6  551 Alvarado St  San Francisco  ...     USA   Richvalley        20

[6 rows x 7 columns]

In [27]:
df["Address"]=df["Address"]+","+df["City"]+","+df["State"]+","+df["Country"]
df

   ID                                         Address  ...         Name Employees
0   1         3666 21st St,San Francisco,CA 94114,USA  ...      Madeira         8
1   2       735 Dolores St,San Francisco,CA 94119,USA  ...  Bready Shop        15
2   3  332 Hill St,San Francisco,California 94114,USA  ...  Super River        25
3   4         3995 23rd St,San Francisco,CA 94114,USA  ...   Ben's Shop        10
4   5    1056 Sanchez St,San Francisco,California,USA  ...      Sanchez        12
5   6      551 Alvarado St,San Francisco,CA 94114,USA  ...   Richvalley        20

[6 rows x 7 columns]

In [28]:
df["Coordinates"]=df["Address"].apply(nom.geocode)
df

   ID  ...                                        Coordinates
0   1  ...  (3666 21st St, San Francisco, California, 9411...
1   2  ...  (735 Dolores St, San Francisco, California, 94...
2   3  ...  (332 Hill St, San Francisco, California, 94114...
3   4  ...  (3995 23rd St, San Francisco, California, 9411...
4   5  ...  (1056 Sanchez St, San Francisco, California, 9...
5   6  ...  (551 Alvarado St, San Francisco, California, 9...

[6 rows x 8 columns]

In [29]:
df.Coordinates[0].latitude

37.756632001957215

In [35]:
df["Latitude"]=df["Coordinates"].apply(lambda x: x.latitude if x!=None else None)
df["Longitude"]=df["Coordinates"].apply(lambda x: x.longitude if x!=None else None)
df

   ID                                         Address  ...   Latitude   Longitude
0   1         3666 21st St,San Francisco,CA 94114,USA  ...  37.756632 -122.429411
1   2       735 Dolores St,San Francisco,CA 94119,USA  ...  37.757829 -122.425373
2   3  332 Hill St,San Francisco,California 94114,USA  ...  37.755845 -122.428813
3   4         3995 23rd St,San Francisco,CA 94114,USA  ...  37.752921 -122.431703
4   5    1056 Sanchez St,San Francisco,California,USA  ...  37.752132 -122.430006
5   6      551 Alvarado St,San Francisco,CA 94114,USA  ...  37.753582 -122.433234

[6 rows x 10 columns]